* {
    padding: 0px;
    margin: 0px;
    background: #202020;
   }

/* title css */

.title {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;
    font-size: 1.8em;
    padding: 2.4rem;
    padding-top: 8%;
}


/* actions buttons section */

.filter {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;;
}

button {
    justify-content: center;
    padding: .8rem;
    margin: .8rem;;
    background: 202020;
    border:  1px solid white;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* animals info by threats */
.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.animal-container {
    width: 50vw;
    height: 100%;
    padding: 1 rem;
    border:  2px solid white;
    margin: 1%;
    padding: 2%;
 }

 .animal-image {
    width: 30%;
    padding: 5px;
}

h1 {
    color: white;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-weight: 300;
    padding: 5px;
}

h3 {
    color: white;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-weight: 300;
    padding: 5px;
}

p {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal; 
    padding: 5px;
}